* {
    margin: 0;
    padding: 0ch;
}

html  {
    scroll-behavior: smooth;
}

body {
    background-image: url("/images/background.png") 
}

header {
    height: 96vh;
    width: 100vw;
}

#topo {
    height: 5vh;
    width: 100vw;
    position: fixed;
}

.botao {
    border: none;
    color: #F5D5ED;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

#botaoTopo {
    background-color: #b95b90;
    transition-duration: 0.4s;
}

#botaoTopo:hover  {
    background-color: #D991BA;
    color: white;
}

#imagensHeader {
    height: 96vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/backgroundPrincipal.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#imagensHeader a img {
    max-width: 100%;
    max-height: 100%;
}

#menu {
    width: 100%;
    height: 40px;
    background-color: #F5D5ED;
    margin-bottom: 15px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
}

.colunaLateral {
    width: 20%;
}

#colunaMeio {
    width: 55%;
}

.colunaLateral {
    width: 20%;
}

.coluna {
    background-color: #EBB9DF;
    border-radius: 2%;
    border-color: #F5D5ED;
    border-style: solid;
}

footer {
    width: 100%;
    min-height: 40px;
    bottom: 0;
    background-color: #8CAE68;
    margin-top: 15px;
}